<aside class="author">
  <h2 class="author__title">About the author...</h2>
  <img class="author__image" src="" alt="author image">
  <p class="author__bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus architecto in, sint
    sequi ipsam magnam
    praesentium sunt tempora perspiciatis veritatis nulla omnis accusamus ab necessitatibus sed fuga tempore, quam
    expedita.</p>
  <p class="author__bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti numquam modi ea
    dicta exercitationem
    aliquam explicabo autem, nostrum, dolore praesentium dolor deleniti rerum cum, quasi nesciunt laudantium quis
    illo?
  </p>
</aside>