<header class="header">
  <div class="header__logo"><img src="./assets/images/travel-logo.png" class="header-img" alt="Logo de la compañía" />
    <p>Travel diaries</p>
  </div>
  <nav class="header__nav">
    <ul class="nav-list">
      <li class="nav-list__item"><a class="nav-list__link" href="">Home</a></li>
      <li class="nav-list__item"><a class="nav-list__link" href="">Blog</a></li>
      <li class="nav-list__item"><a class="nav-list__link" href="">Resume</a></li>
      <li class="nav-list__item"><a class="nav-list__link" href="">Contact</a></li>
    </ul>
  </nav>
</header>