<section class="hero">
  <div class="hero__footer">
    <p class="hero__description">A few weeks in Rome...</p>
    <a class="hero__link" href="#">See article</a>
  </div>
</section>
<section class="travel-content">
  <h1 class="travel-content__title">I love to travel</h1>
  <p class="travel-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, repellendus et
    quod facere debitis iste
    tempore quaerat rerum ipsa, dolorem culpa atque vero harum voluptates modi maiores corporis voluptas optio!</p>
  <p class="travel-content__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis laudantium
    dolore, architecto expedita
    pariatur cum reiciendis. Hic pariatur assumenda necessitatibus nihil harum possimus sint quod maxime laudantium,
    eum quaerat cupiditate.</p>
  <p class="travel-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum, officia
    corporis dolore ipsam
    incidunt eaque exercitationem illo impedit modi minus perferendis beatae vel itaque, pariatur quo, facere autem
    dolores.</p>
</section>